playbooks/group_vars/all/vault.yml
playbooks/group_vars/production/vault.yml
playbooks/group_vars/staging/vault.yml
playbooks/inventory.ini
playbooks/.vault_pass

playbooks/.gitignore
playbooks/.editorconfig
playbooks/*/**/__pycache__
playbooks/inventory.ini.example
playbooks/vars-overrides.yml
playbooks/test.yml
playbooks/.DS_Store
.git
